.MainMenu {
     list-style-type: none;
     display:flex;
   
}
ul li {
    border: solid 1px grey ;
    padding:1rem;
}
ul li a {
    text-decoration: none;
}
article{
    background-color: rgb(156, 133, 137);
}